@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Italic";
  src: url("/fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-50: #fdf6ef;
  --color-primary-100: #f4e8da; /* Baggrund */
  --color-primary-200: #f5d3b4;
  --color-primary-300: #ecb07d; /* Beige */
  --color-primary-400: #e58d52;
  --color-primary-500: #df7030;
  --color-primary-600: #d05826;
  --color-primary-700: #ac4321;
  --color-primary-800: #8a3721;
  --color-primary-900: #702f1e;
  --color-primary-950: #3c160e;

  --color-secondary-50: #fdf4ef;
  --color-secondary-100: #fae6da;
  --color-secondary-200: #f3cab5;
  --color-secondary-300: #eca685;
  --color-secondary-400: #e27650;
  --color-secondary-500: #dc6940; /* Orange */
  --color-secondary-600: #ce4128;
  --color-secondary-700: #ab3123; /* Knapper / rød */
  --color-secondary-800: #892a23;
  --color-secondary-900: #6f251f;
  --color-secondary-950: #3b100f;

  /*Typografi */
  --font-display: "Lato", sans-serif; /* overskrifter */
  --font-sans: "Roboto", sans-serif; /* brødtekst */
  --font-serif: "Lato Italic", serif; /* andet */
}

@layer base {
}

@layer components {
}

@layer utilities {
}
