@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Italic";
  src: url("/fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  
  /* Orange */
  --color-primary-50: #fdf6ef;
  --color-primary-100: #f4e8da; /* Baggrund */
  --color-primary-200: #f5d3b4;
  --color-primary-300: #ecb07d; /* Beige */
  --color-primary-400: #e58d52;
  --color-primary-500: #df7030;
  --color-primary-600: #d05826;
  --color-primary-700: #ac4321;
  --color-primary-800: #8a3721;
  --color-primary-900: #702f1e;
  --color-primary-950: #3c160e;
  
  /* Rød */
  --color-secondary-50: #fdf4ef;
  --color-secondary-100: #fae6da;
  --color-secondary-200: #f3cab5;
  --color-secondary-300: #eca685;
  --color-secondary-400: #e27650;
  --color-secondary-500: #dc6940; /* Orange */
  --color-secondary-600: #ce4128;
  --color-secondary-700: #ab3123; /* Knapper / rød */
  --color-secondary-800: #892a23;
  --color-secondary-900: #6f251f;
  --color-secondary-950: #3b100f;

  /* Blå */
  --color-blue-900: #243346; /* Support section / læs mere */
  --color-blue-800: #2d445f; /* Læs mere hover */
  --color-blue-600: #3d628b; /* Læs mere click */

  --color-secondary-search: #e7b081; /* Søgefelt */
  --color-form-400: #C5C3C1; /* Formularer */

  /*Typografi */
  --font-display: "Lato", sans-serif; /* overskrifter */
  --font-sans: "Roboto", sans-serif; /* brødtekst */
  --font-serif: "Lato Italic", serif; /* andet */


  --font-normal: @apply text-[13px] lg:text-[16px];



}

@layer base {
  .boxshadowleft_orange{
    @apply shadow-[-13px_14px_0px_0px_#DC6940]
  } /*tekstbokse*/
  .boxshadowright_orange{
    @apply shadow-[13px_14px_0px_0px_#DC6940]
  } /*billeder*/

    .boxshadowright_hero{
    @apply shadow-[-14px_-13px_0px_-3px_#AB3123]
  } /*Hero*/

  .boxshadow_forms{
    @apply shadow-[-13px_13px_10px_-1px_rgba(0,_0,_0,_0.15)]
  }
  .buttonshadow{
    @apply shadow-[-4.0px_5.0px_8.0px_rgba(0,0,0,0.38)]
  }
}

@layer components {
  .switch {
    @apply relative inline-block w-12 h-6;
  }

  .switch input {
    @apply opacity-0 w-0 h-0;
  }

  .slider {
    @apply absolute inset-0 cursor-pointer bg-gray-300 rounded-full transition;
  }

  .slider::before {
    content: "";
    @apply absolute h-5 w-5 left-0.5 top-0.5 bg-white rounded-full transition;
  }

  input:checked + .slider {
    @apply bg-red-600;
  }

  input:checked + .slider::before {
    @apply translate-x-6;
  }

  .amount-btn.active {
    @apply bg-red-600 text-white;
  }
}

@layer utilities {
}
