---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Support from "../components/Support.astro";
import Stickey from "../components/Stickey.astro";
import Forms from "../components/Forms.astro";

import Carousel from "../components/Carousel.astro";
const section4Images = [{ src: "/forside/f_sektion4_1.webp" }, { src: "/forside/f_sektion4_2.webp" }, { src: "/forside/f_sektion4_3.webp" }, { src: "/forside/f_sektion4_4.webp" }, { src: "/forside/f_sektion4_5.webp" }, { src: "/forside/f_sektion4_6.webp" }, { src: "/forside/f_sektion4_7.webp" }, { src: "/forside/f_sektion4_8.webp" }, { src: "/forside/f_sektion4_9.webp" }, { src: "/forside/f_sektion4_10.webp" }, { src: "/forside/f_sektion4_11.webp" }, { src: "/forside/f_sektion4_12.webp" }];
const section7Images = [{ src: "/voresindsatser/v_sektion7_1.webp" }, { src: "/voresindsatser/v_sektion7_2.webp" }, { src: "/voresindsatser/v_sektion7_3.webp" }, { src: "/voresindsatser/v_sektion7_4.webp" }, { src: "/voresindsatser/v_sektion7_5.webp" }, { src: "/voresindsatser/v_sektion7_6.webp" }, { src: "/voresindsatser/v_sektion7_7.webp" }, { src: "/voresindsatser/v_sektion7_8.webp" }, { src: "/voresindsatser/v_sektion7_9.webp" }, { src: "/voresindsatser/v_sektion7_10.webp" }, { src: "/voresindsatser/v_sektion7_11.webp" }, { src: "/voresindsatser/v_sektion7_12.webp" }];
---

<!-- MB ved sektioner der ikke skal have padding + sektioner med bg - p-10 ved smalle sektioner - p-10 md:p-20 ved resten --><!-- Grid bruges til overordnet layout/struktur - flex bruges til indhold og justering inde i layout  -->
<MainLayout title="Care Danmark">
  <!-- START på sektion 1 - Hero -->
  <section class="relative w-full">
    <img src="/forside/herobillede.webp" alt="Billede af kvinde i Afrika" class="w-full hidden md:block" />
    <img class="md:hidden" src="/forside/hero.webp" alt="herobillede" />
    <div class="absolute left-5 top-1 md:left-8 md:top-20 p-2 md:p-12 max-w-70 md:max-w-180 bg-primary-100 boxshadowright_hero">
      <div class="flex flex-col gap-1 md:gap-2">
        <Heading htmlheading="h1" size="xlarge" font="display">CARE</Heading>
        <Heading htmlheading="h2" size="small" font="display"> Støt piger og kvinder i klimakampen i verdens fattigste lande </Heading>
        <Heading htmlheading="paragraphItalic" size="paragraphItalic" font="sans" stylingclasses="font-light italic"> Sammen bekæmper vi ulighed og fattigdom </Heading>

        <div class="flex">
          <a href="/form" class="">
            <!-- Knap i mobile -->
            <div class="block md:hidden animate-jump animate-infinite animate-duration-[4000ms] animate-ease-linear">
              <Button variant="primary" size="small" icon="heart">Støt nu</Button>
            </div>
            <!-- Knap i desktop -->
            <div class="hidden md:block mt-5 animate-jump animate-infinite animate-duration-[4000ms] animate-ease-linear">
              <Button variant="primary" size="large" icon="heart">Støt nu</Button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="animate-bounce animate-duration-[2000ms] absolute inset-x-0 bottom-1 md:bottom-3 flex justify-center">
      <div class="relative md:w-20 md:h-20">
        <span class="absolute left-0 top-2/4 w-[60%] h-[7px] bg-secondary-700 rotate-45 rounded-full"></span>
        <span class="absolute right-0 top-2/4 w-[60%] h-[7px] bg-secondary-700 -rotate-45 rounded-full"></span>
      </div>
    </div>
  </section>
  <!-- SLUT på sektion 1 - Hero -->

  <!-- START på sektion 2 - Forms -->
  <section class="p-10 md:p-20">
    <Forms />
  </section>

  <!-- START INFOGRAFIK -->
  <section class="bg-primary-300">
    <div class="text-left md:text-center p-10 md:p-10">
      <Heading htmlheading="h3" size="medium" font="display"> HVAD VI KAN OPNÅ MED DIN DONATION </Heading>
    </div>
    <!-- Her bruger vi html/css og ikke komponent-->
    <div class="loop_info overflow-hidden pb-10">
      <div class="loop-track_info scroll_info loop_info:hover loop-track_info flex gap-5 md:gap-10">
        <div class="flex flex-col items-center text-center gap-2">
          <img src="/forside/section2_mad.svg" alt="mad" class="w-16 h-16" />
          <Heading htmlheading="numbers" size="numbers" font="sans">38 kr.</Heading>
          <Text teksttype="brødtekst">Kan give en familie et måltid mad</Text>
        </div>

        <div class="flex flex-col items-center text-center gap-2">
          <img src="/forside/section2_telt.svg" alt="telt" class="w-16 h-16" />
          <Heading htmlheading="numbers" size="numbers" font="sans">341 kr.</Heading>
          <Text teksttype="brødtekst">Sikre en familie på flugt et telt at overnatte i</Text>
        </div>

        <div class="flex flex-col items-center text-center gap-2">
          <div class="relative w-16 h-16">
            <img src="/water.svg" alt="mennesker illustration" class="w-16 h-16 absolute inset-0" />
            <img src="/drop.svg" alt="mennesker illustration" class="w-4 h-4 absolute bottom-2 left-5 -translate-x-1/2 animate-fade-down animate-infinite animate-duration-[3000ms]" />
          </div>
          <Heading htmlheading="numbers" size="numbers" font="sans">134 kr.</Heading>
          <Text teksttype="brødtekst">Kan sikre at en landsby får 3000 liter vand</Text>
        </div>

        <div class="flex flex-col items-center text-center gap-2">
          <img src="/forside/section2_træ.svg" alt="træ" class="w-16 h-16" />
          <Heading htmlheading="numbers" size="numbers" font="sans">510 kr.</Heading>
          <Text teksttype="brødtekst">Kan give en familie to cashewtræer</Text>
        </div>

        <div class="flex flex-col items-center text-center gap-2">
          <img src="/vogn.svg" alt="vogn" class="w-16 h-16" />
          <Heading htmlheading="numbers" size="numbers" font="sans">173 kr.</Heading>
          <Text teksttype="brødtekst">Kan give fem familier ingredienser til et måltid mad</Text>
        </div>

        <div class="flex flex-col items-center text-center gap-2">
          <img src="/korn.svg" alt="korn" class="w-16 h-16" />
          <Heading htmlheading="numbers" size="numbers" font="sans">519 kr.</Heading>
          <Text teksttype="brødtekst">Kan sikre 15 familier 16 kg korn til at starte et landbrug</Text>
        </div>

        <div class="flex flex-col items-center text-center gap-2">
          <img src="/Komfur.svg" alt="Komfur" class="w-16 h-16" />
          <Heading htmlheading="numbers" size="numbers" font="sans">2827 kr.</Heading>
          <Text teksttype="brødtekst">Kan give en gruppe kvinder et fælles solcelle-komfur</Text>
        </div>
      </div>
    </div>
  </section>
  <!-- Slut INFOGRAFIK-->
  <!-- SLUT på sektion 2 - Forms -->

  <!-- START på sektion 3 - Vores indsatser -->
  <section class="grid md:grid-cols-2 gap-5 mx-auto p-10 md:p-20">
    <div class="flex flex-col justify-center max-w-xl">
      <Heading htmlheading="h3" size="medium" font="display"> VORES INDSATSER </Heading>

      <Heading htmlheading="h4" size="small" font="sans" stylingclasses="text-secondary-700 font-light italic self-end flipin_animation opacity-0"> “En grøn og retfærdig verden” </Heading>

      <Text stylingclasses="mt-5" teksttype="brødtekst"> Hos CARE arbejder vi for at give mennesker i verdens mest sårbare områder – især kvinder og piger – et værdigt liv trods klimaforandringer, kriser og fattigdom. Vi fokuserer på klimaindsats, ligestilling, innovation og nødhjælp. Ved at kombinere langsigtet udvikling med hurtig hjælp og tæt samarbejde med lokalsamfund skaber vi varige løsninger. Gennem uddannelse, bæredygtige projekter og støtte til selvhjælp ruster vi de mest udsatte til at stå stærkere i fremtiden. </Text>

      <a class="mt-5" href="/voresindsatser/"> <Text><Button variant="secondary" size="medium" icon="arrow">Læs mere</Button></Text></a>
    </div>

    <img class="boxshadowright_orange w-full" src="/forside/f_sektion7.webp" alt="Billede af afrikanske børn" />
  </section>
  <!-- SLUT på sektion 3 - Vores indsatser -->

  <!-- START på sektion 4 - Carousel -->
  <section class="mb-10 md:mb-20">
    <Carousel images={section4Images} speed={40} itemWidth="w-40 md:w-70" />
  </section>
  <!-- SLUT på sektion 4 - Carousel -->

  <!-- START på sektion 5 - Hjælp -->
  <section class="bg-primary-300 grid md:grid-cols-2 gap-5 mx-auto p-10 md:p-20">
    <div class="bg-primary-100 boxshadowleft_orange p-10 flex flex-col justify-center max-w-130 md:max-w-200">
      <Heading htmlheading="h3" size="medium" font="display">HJÆLP USKYLDIGE FAMILIER</Heading>

      <Text stylingclasses="mt-5" teksttype="brødtekst">
        Verden er i øjeblikket vidne til en række forfærdelige krige, konflikter og klima-katastrofer. For millioner af mennesker handler hver dag om ren og skær overlevelse. <br />
        Uskyldige familier har mistet alt. Deres hjem, deres ejendele, deres nærmeste. Der er akut brug for helt basale ting som mad, vand, medicin, telte og brændstof. Du kan hjælpe mennesker i akut nød!
      </Text>

      <a class="mt-5" href="/form">
        <Text>
          <Button variant="primary" size="medium" icon="heart"> Støt nu </Button>
        </Text>
      </a>
    </div>

    <img class="w-full mt-5 md:mt-0" src="/forside/f_sektion6.webp" alt="" />
  </section>
  <!-- SLUT på sektion 5 - Hjælp -->

  <!-- START på sektion 6 - Internationale programmer -->
  <section class="grid grid-cols-1 md:grid-cols-2 items-center p-10 md:p-20">
    <div class="flex flex-col max-w-130">
      <Heading htmlheading="h3" size="medium" font="display"> INTERNATIONALE PROGRAMMER </Heading>

      <Heading htmlheading="h4" size="small" font="sans" stylingclasses="text-secondary-700 font-light italic self-end flipin_animation opacity-0"> “Global tilstedeværelse” </Heading>

      <img class="md:hidden mt-5 card card-right" src="/forside/f_sektion5.svg" alt="map" />

      <Text stylingclasses="mt-5" teksttype="brødtekst"> CARE Danmark er en privat og uafhængig fond, der arbejder i 16 lande fordelt på fem regioner: Vestafrika, Østafrika, Mellemøsten, Asien og Europa. CARE Danmark er en del af CARE International - en af verdens største humanitære organisationer. </Text>

      <div class="mt-5">
        <a href="/omcare/"> <Text><Button variant="secondary" size="medium" icon="arrow">Læs mere</Button></Text></a>
      </div>
    </div>

    <div class="flex items-center justify-center card card-right">
      <img class="hidden md:block" src="/forside/f_sektion5.svg" alt="map" />
    </div>
  </section>
  <!-- SLUT på sektion 6 - Internationale programmer -->

  <!-- START på sektion 7 - Kampagne -->
  <section class="p-10 md:p-20 mb-10 md:mb-20 grid grid-cols-1 md:grid-cols-2 bg-primary-300">
    <div class="max-w-130">
      <Heading htmlheading="h2" size="large" font="display"> CASHEWTRÆER SKABER HÅB OG INDKOMST </Heading>
      <Heading htmlheading="h4" size="small" font="sans" stylingclasses="text-secondary-700 font-light flex justify-end italic flipin_animation opacity-0"> “Dyrk en bedre fremtid” </Heading>
      <div class="mt-5">
        <Text teksttype="brødtekst"> Med et cashewtræ kan kvinder sikre mad på bordet og skabe sig en indkomst, der sikrer deres børns fremtid. Når du giver et cashewtræ, hjælper du en kvinde med at starte en plantage. Cashewtræer er tørkeresistente og kan overleve i meget varme og tørre klimaer. Nødderne kan spises, opbevares længe og sælges på markedet, hvilket giver en pålidelig indtægtskilde. Et cashewtræ betyder mad på bordet og en vej ud af fattigdom for hendes familie. </Text>
      </div>

      <!-- Ikon + tekst + knap -->
      <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-5 w-full mt-5">
        <div class="flex flex-row items-center gap-5">
          <img src="/forside/section2_træ.svg" alt="træ" class="w-16 h-16 animate-wiggle animate-infinite" />
          <div>
            <Heading htmlheading="numbers" size="numbers" font="sans">510 kr.</Heading>
            <Text teksttype="brødtekst">Kan give en familie to cashewtræer</Text>
          </div>
        </div>
        <div class="w-auto md:self-end mt-5 pb-5 md:pb-3">
          <a href="/form">
            <Text>
              <Button variant="primary" size="medium" icon="heart"> Støt nu </Button>
            </Text>
          </a>
        </div>
      </div>
    </div>
    <img class="boxshadowright_orange" src="/forside/f_sektion3.webp" alt="kvinde der arbejder med cashewtræer" />
  </section>
  <!-- SLUT på sektion 7 - Kampagne -->

  <!-- START på sektion 8 - Carousel -->
  <section class="mb-10 md:mb-20">
    <Carousel images={section7Images} speed={40} itemWidth="w-40 md:w-70" />
  </section>
  <!-- SLUT på sektion 8 - Carousel -->

  <!-- START på FOOTER -->
  <section>
    <Support />
  </section>
  <!-- SLUT på FOOTER -->
  <Stickey position="right" visibleAt="sm" />
</MainLayout>

<style>
  .loop_info {
    width: 100%;
    overflow: hidden;
  }

  .loop-track_info {
    display: flex;
    width: max-content;
    animation-name: scroll_info;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes scroll_info {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .loop_info:hover .loop-track_info {
    animation-play-state: paused;
  }
</style>
