---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import Searchbar from "../components/Searchbar.astro";
import Stickey from "../components/Stickey.astro";
import VoresindsatserCard from "../components/VoresindsatserCard.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4">
    <!-- start på typografi -->
    <section>
      <Heading htmlheading="h2" size="medium">Typografi & ovesrkrifter</Heading>
      <Heading htmlheading="h1" size="xlarge" font="display">h1 - xlarge - Display</Heading>
      <Heading htmlheading="h2" size="large" font="display">h2 - large - Display</Heading>
      <Heading htmlheading="h3" size="medium" font="display">h3 - medium - Display</Heading>
      <Heading htmlheading="h4" size="small" font="serif">h4 - small - Display</Heading>
      <Heading htmlheading="h5" size="xsmall" font="display">h5 - xsmall - Display</Heading><br />
      <Heading htmlheading="paragraphItalic" size="paragraphItalic" font="serif">P - paragraphItalic - Serif</Heading><br />
      <Heading htmlheading="numbers" size="numbers" font="sans">Tal - Sans</Heading>

      <Text teksttype="brødtekst">
        Her er en sektion brødtekst: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam. Corporis totam <Link href="#">Default link: </Link> reiciendis quibusdam ratione iure aut, numquam tenetur voluptatem exercitationem sequi enim!
      </Text>
      <Text teksttype="konsultativ"> Her en sektion konsultativ tekst: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam. Corporis totam reiciendis quibusdam ratione iure aut, numquam tenetur voluptatem exercitationem sequi enim! </Text>
    </section>
    <!-- slut på typografi -->
    <hr class="my-4" />
    <!-- start på søgefelt -->
    <Heading htmlheading="h2" size="medium">Søgefelt</Heading>
    <Searchbar />
    <!-- slut på søgefelt -->
    <hr class="my-4" />

    <!-- Buttons komponent instanser -->
    <section class="grid gap-3">
      <Heading htmlheading="h2" size="medium">Buttons</Heading>
      <Text><Button>Default knap</Button></Text>
      <Text><Button variant="primary" size="small" icon="heart"> primary size small</Button></Text>
      <Text><Button variant="primary" size="medium">primary size medium</Button></Text>
      <Text><Button variant="primary" size="large">primary size large</Button></Text>
      <Text><Button variant="secondary" size="small" icon="arrow">secondary size small</Button></Text>
      <Text><Button variant="secondary" size="medium">secondary size medium</Button></Text>
      <Text><Button variant="secondary" size="large">secondary size large</Button></Text>
    </section>
    <!-- Slut på Buttons komponent instanser -->

    <Stickey position="right" visibleAt="sm" />

    <VoresindsatserCard
      title="KVINDER"
      body="<p>Piger og kvinder i verdens fattigste lande er særligt udsatte...</p>"
      imageSrc="/voresindsats/kvinder.webp"
      links={[
        { label: "Når vi hjælper en kvinde, hjælper vi alle", href: "/kvinder/hjaelp" },
        { label: "Egne penge og stærke stemmer", href: "/kvinder/penge" },
        { label: "Sådan kan støtten til kvinder se ud", href: "/kvinder/støtte" },
      ]}
    />
  </main>
</MainLayout>
