---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Support from "../components/Support.astro";
---

<MainLayout title="Titel">
  <Header />

  <main class="container mx-auto p-4">
    <!-- START på sektion 1 - Titel -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 1 - Titel -->

    <!-- START på sektion 2 - Card -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 2 - Card -->

    <!-- START på sektion 3 - Sådan bruger vi penge -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 3 - Sådan bruger vi penge -->

    <!-- START på sektion 4 - Carousel -->
    <section>
      <div class="billede"></div>
    </section>
    <!-- SLUT på sektion 4 - Carousel -->

    <!-- START på FOOTER -->
    <section>
      <Support />
    </section>
    <!-- SLUT på FOOTER -->
  </main>
</MainLayout>
