---
import MainLayout from "../layouts/MainLayout.astro";
import Support from "../components/Support.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Stickey from "../components/Stickey.astro";
import Button from "../components/Button.astro";
import Carousel from "../components/Carousel.astro";
const section4Images = [{ src: "/omcare/o_sektion4_1.webp" }, { src: "/omcare/o_sektion4_2.webp" }, { src: "/omcare/o_sektion4_3.webp" }, { src: "/omcare/o_sektion4_4.webp" }, { src: "/omcare/o_sektion4_5.webp" }, { src: "/omcare/o_sektion4_6.webp" }, { src: "/omcare/o_sektion4_7.webp" }, { src: "/omcare/o_sektion4_8.webp" }, { src: "/omcare/o_sektion4_9.webp" }, { src: "/omcare/o_sektion4_10.webp" }, { src: "/omcare/o_sektion4_11.webp" }];
---

<!-- MB ved sektioner der ikke skal have padding + sektioner med bg - p-10 ved smalle sektioner - p-10 md:p-20 ved resten --><!-- Grid bruges til overordnet layout/struktur - flex bruges til indhold og justering inde i layout  -->
<MainLayout title="Om Care">
  <!-- START på sektion 1 - Titel -->
  <section class="pt-10 md:pt-20">
    <div class="text-center">
      <Heading htmlheading="h2" size="medium">OM CARE</Heading>
      <Heading htmlheading="h4" size="small" font="sans" stylingclasses="text-secondary-700 font-light text-left md:text-right pl-15 md:pr-60 italic flipin_animation opacity-0"> “Kæmper for en grøn og retfærdig verden” </Heading>
    </div>
  </section>
  <!-- SLUT på sektion 1 - Titel -->

  <!-- START på sektion 2 - Map -->
  <!-- p-40 så kortet fylder mere -->
  <section class="relative mx-auto p-10 md:p-40">
    <img src="/omcare/o_section2.webp" alt="kort" class="absolute inset-0 md:w-auto md:h-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0 p-5 md:p-20" />
    <div class="relative z-10 space-y-12">
      <!-- Boks 1 venstre -->
      <div class="card card-left bg-primary-300 max-w-80 md:max-w-110 p-6 relative mr-auto shadow-2xl">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7 md:w-10" />
        <Heading htmlheading="h3" size="small" font="display">HVAD GØR CARE?</Heading>
        <Text> CARE støtter verdens fattigste og mest klimaudsatte mennesker i at skabe sig et godt og værdigt liv. Vi arbejder med klimatilpasning, uddannelse, akut nødhjælp og hjælp til selvhjælp, og vi er til stede både før, under og efter klimakrisen rammer. </Text>
      </div>

      <!-- Boks 2 højre -->
      <div class="card card-right bg-primary-300 max-w-80 md:max-w-110 p-6 relative ml-auto shadow-2xl">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7 md:w-10" />
        <Heading htmlheading="h3" size="small" font="display">CARES HISTORIE</Heading>
        <Text> CARE International blev grundlagt i 1945 for at hjælpe et krigshærget og sultende Europa. Her samlede 22 hjælpeorganisationer sig til én. De kaldte sig C.A.R.E: The Cooperative for American Remittances to Europe. CARE Danmark blev oprettet i 1987 og vi er en del af CARE International. </Text>
      </div>

      <!-- Boks 3 venstre -->
      <div class="card card-left bg-primary-300 max-w-80 md:max-w-110 p-6 relative mr-auto shadow-2xl">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7 md:w-10" />
        <Heading htmlheading="h3" size="small" font="display">ETIK I VORES ARBEJDE</Heading>
        <Text> Vi sikrer kvalitet og standarder i vores arbejde gennem principper og retningslinjer, ligesom vi bekæmper korruption, misbrug og uretmæssig adfærd. Du kan rapportere uretmæssig adfærd via denne side. </Text>
      </div>

      <!-- Boks 4 højre-->
      <div class="card card-right bg-primary-300 max-w-80 md:max-w-110 p-6 relative ml-auto shadow-2xl">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7 md:w-10" />
        <Heading htmlheading="h3" size="small" font="display">VISION OG MISSION</Heading>
        <Text> Hos CARE kæmper vi for en grøn og retfærdig verden. Det gør vi, fordi vi mener, at kampen mod klimaforandringer og kampen mod global ulighed er to sider af samme sag. </Text>
      </div>
    </div>
  </section>
  <!-- SLUT på sektion 2 - Map -->

  <!-- START på sektion 3 - Sådan bruger vi penge -->
  <section class="bg-primary-300">
    <div class="mx-auto p-10 md:p-20 mb-10 md:mb-20 grid grid-cols-1 md:grid-cols-2">
      <div class="bg-primary-100 p-10 boxshadowleft_orange">
        <Heading htmlheading="h2" size="medium">SÅDAN BRUGER VI PENGENE</Heading>

        <Text stylingclasses="mt-5">CARE havde i 2022 en administrationsomkostning på 10 procent af omsætningen. Én procent af omsætningen bruger vi på kommunikation og engagement, så vi kan sikre flere midler og samtidigt udbrede kendskabet til vores arbejde med at skabe løsninger til verdens mest klimaudsatte mennesker. De resterende 89 procent går til vores projekter. Tallene kan variere alt efter det konkrete års indtægter.</Text>

        <Text stylingclasses="mt-5">
          <a href="/"> <Button variant="secondary" size="medium" icon="arrow">Få indblik i vores regnskab</Button></a>
        </Text>
      </div>
      <div>
        <img src="/omcare/o_sektion3.webp" alt="diagram" class="mt-5" />
      </div>
    </div>
  </section>
  <!-- SLUT på sektion 3 - Sådan bruger vi penge -->

  <!-- START på sektion 4 - Carousel -->
  <section class="mb-10 md:mb-20">
    <Carousel images={section4Images} speed={40} itemWidth="w-40 md:w-70" />
  </section>
  <!-- SLUT på sektion 4 - Carousel -->

  <!-- START på FOOTER -->
  <section>
    <Support />
  </section>
  <!-- SLUT på FOOTER -->

  <Stickey position="right" visibleAt="sm" />
</MainLayout>
