---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Support from "../components/Support.astro";
import Footer from "../components/Footer.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Stickey from "../components/Stickey.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
  <main>
    <!-- START på sektion 1 - Titel -->
    <section>
      <div class="items-center text-center">
        <Heading htmlheading="h2" size="medium">OM CARE</Heading>
        <Heading htmlheading="paragraphItalic" size="paragraphItalic" font="serif">“Kæmper for en grøn og retfærdig verden”</Heading>
      </div>
    </section>
    <!-- SLUT på sektion 1 - Titel -->

    <!-- START på sektion 2 - Card -->
    <section>
      <div>
        <img src="/omcare/o_section2.webp" alt="kort" />
      </div>
      <div class="bg-secondary-500 opacity-75 max-w-70 md:max-w-100 p-7 relative">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />
        <Heading htmlheading="h3" size="small" font="display">HVAD GØR CARE?</Heading>
        <Text>CARE støtter verdens fattigste og mest klimaudsatte mennesker i at skabe sig et godt og værdigt liv. Vi arbejder med klimatilpasning, uddannelse, akut nødhjælp og hjælp til selvhjælp, og vi er til stede både før, under og efter klimakrisen rammer.</Text>
      </div>
      <div class="bg-secondary-500 opacity-75 max-w-70 md:max-w-100 p-7 relative">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />
        <Heading htmlheading="h3" size="small" font="display">CARES HISTORIE</Heading>
        <Text>CARE International blev grundlagt i 1945 for at hjælpe et krigshærget og sultende Europa. Her samlede 22 hjælpeorganisationer sig til én. De kaldte sig C.A.R.E: The Cooperative for American Remittances to Europe. CARE Danmark blev oprettet i 1987 og vi er en del af CARE International.</Text>
      </div>
      <div class="bg-secondary-500 opacity-75 max-w-70 md:max-w-100 p-7 relative">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />
        <Heading htmlheading="h3" size="small" font="display">ETIK I VORES ARBEJDE</Heading>
        <Text>Vi sikrer kvalitet og standarder i vores arbejde gennem principper og retningslinjer, ligesom vi bekæmper korruption, misbrug og uretmæssig adfærd. Du kan rapportere uretmæssig adfærd via denne side.</Text>
      </div>
      <div class="bg-secondary-500 opacity-75 max-w-70 md:max-w-100 p-7 relative">
        <img src="/knapnael.svg" alt="nål" class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />
        <Heading htmlheading="h3" size="small" font="display">VISION OG MISSION</Heading>
        <Text>Hos CARE kæmper vi for en grøn og retfærdig verden. Det gør vi, fordi vi mener, at kampen mod klimaforandringer og kampen mod global ulighed er to sider af samme sag.</Text>
      </div>
    </section>
    <!-- SLUT på sektion 2 - Card -->

    <!-- START på sektion 3 - Sådan bruger vi penge -->
    <section class="bg-primary-300">
      <div class="mx-auto p-10 md:p-20 grid grid-cols-1 md:grid-cols-2">
        <div class="bg-primary-100 p-10">
          <Heading htmlheading="h2" size="medium">SÅDAN BRUGER VI PENGENE</Heading>
          <Text>CARE havde i 2022 en administrationsomkostning på 10 procent af omsætningen. Én procent af omsætningen bruger vi på kommunikation og engagement, så vi kan sikre flere midler og samtidigt udbrede kendskabet til vores arbejde med at skabe løsninger til verdens mest klimaudsatte mennesker. De resterende 89 procent går til vores projekter. Tallene kan variere alt efter det konkrete års indtægter.</Text>
          <Button variant="secondary" size="medium" icon="arrow" font-style="font-light">Få indblik i vores regnskab</Button>
        </div>
        <div>
          <img src="/omcare/o_sektion3.webp" alt="" />
        </div>
      </div>
    </section>
    <!-- SLUT på sektion 3 - Sådan bruger vi penge -->

    <!-- START på sektion 4 - Carousel -->
    <section class="mb-10 md:mb-20">
      <div class="loop overflow-hidden relative">
        <div class="loop-track flex w-[200%] animate-scroll gap-0">
          <img src="/omcare/o_sektion4_1.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_2.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_3.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_4.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_5.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_6.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_7.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_8.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_9.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_10.webp" alt="billede" class="w-1/4 object-contain" />
          <img src="/omcare/o_sektion4_11.webp" alt="billede" class="w-1/4 object-contain" />
        </div>
      </div>
    </section>
    <!-- SLUT på sektion 4 - Carousel -->
  </main>
  <!-- START på FOOTER -->
  <section>
    <Support />
  </section>
  <!-- SLUT på FOOTER -->
  <Stickey position="right" visibleAt="sm" />
</MainLayout>

<style>
  .loop {
    overflow: hidden;
    width: 100%;
  }

  .loop-track {
    display: flex;
    width: 200%;
    animation: scroll 30s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
