---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4">
    <!-- START på sektion 1 - Titel -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 1 - Titel -->

    <!-- START på sektion 2 - Kvinder -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 2 - Kvinder -->

    <!-- START på sektion 3 - Klima -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 3 - Klima -->

    <!-- START på sektion 4 - Innovation -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 4 - Innovation -->

    <!-- START på sektion 5 - Nødhjælp -->
    <section>
      <div></div>
    </section>
    <!-- SLUT på sektion 5 - Nødhjælp -->

    <!-- START på sektion 6 - Projekter og løsninger -->
    <section>
      <div class="#overskrift"></div>
      <div class="felter"></div>
    </section>
    <!-- SLUT på sektion 6 - Projekter og løsninger -->

    <!-- START på sektion 7 - Carousel -->
    <section>
      <div class="billede"></div>
    </section>
    <!-- SLUT på sektion 7 - Carousel -->

    <!-- START på FOOTER -->
    <section>
      <div class="Donation"></div>
      <div class="Footer"></div>
    </section>
    <!-- SLUT på FOOTER -->
  </main>
</MainLayout>
