---
// Henter parametrene fra Astro.props
// Rest gør komponenten mere fleksibel - bruger til at sende ID med i forms
const { variant = "primary", size = "medium", font = "sans", icon = "", ...rest } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "px-8 py-2";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "bg-secondary-700 hover:bg-secondary-600 active:bg-secondary-500 text-white transition-all duration-700 rounded-md buttonshadow ",
  secondary: "bg-blue-900 hover:bg-blue-800 active:bg-blue-700 text-white transition-all duration-700 rounded-md buttonshadow ",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "text-[1rem] lg:text-[1.3rem]",
  medium: "text-[0.8rem] lg:text-[1.1rem]",
  small: "text-[0.8rem] lg:text-[1rem]",
};

const iconFiles = {
  heart: "/button_heart.svg",
  arrow: "/button_arrow.svg",
};

const iconSrc = icon ? iconFiles[icon] : null;
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button {...rest} class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "flex items-center gap-2"]}>
  <slot />

  {iconSrc && <img src={iconSrc} alt="" class="w-5 h-5 object-contain" />}
</button>
