---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "medium", icon = "" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "px-8 py-2";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "bg-secondary-700 hover:bg-secondary-600 active:bg-secondary-500 text-white transition-all duration-700 rounded-md shadow-2xl shadow-stone-500",
  secondary: "bg-blue-900 hover:bg-blue-800 active:bg-blue-700 text-white transition-all duration-700 rounded-md shadow-2xl shadow-stone-500",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "text-2xl",
  medium: "text-[20px]",
  small: "text-[14px]",
};

const iconFiles = {
  heart: "/button_heart.svg",
  arrow: "/button_arrow.svg",
};

const iconSrc = icon ? iconFiles[icon] : null;
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "flex items-center gap-2"]}>
  <slot />

  {iconSrc && <img src={iconSrc} alt="" class="w-5 h-5 object-contain" />}
</button>
