---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon_io/favicon.ico" />
    <title>{Astro.props.title}</title>
    <script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
  </head>
  <body class="bg-primary-100">
    <Header />

    <slot />

    <Footer />
  </body>
  <script src="../assets/login.js"></script>
</html>
